//- SCSS STYLING

//- modern-admin vendors
@import "../vendor/modern-admin/scss/vendors/vendors.min.scss";
@import '../vendor/modern-admin/scss/vendors/bootstrap.scss';
@import '../vendor/modern-admin/scss/vendors/bootstrap-extended.scss';

//- modern-admin core
@import '../vendor/modern-admin/scss/components/components.scss';
@import '../vendor/modern-admin/scss/core/colors.scss';

//- modern-admin theme
@import '../vendor/modern-admin/scss/core/menu/menu-types/vertical-compact-menu.scss';
@import '../vendor/modern-admin/scss/core/colors/palette-gradient.scss';
@import '../fonts/mobiriseicons/24px/mobirise/style.scss';

@import '../vendor/modern-admin/scss/core/colors.scss';
@import '../vendor/modern-admin/scss/vendors/charts/jquery-jvectormap-2.0.3.scss';
@import '../vendor/modern-admin/scss/vendors/charts/morris.scss';
@import '../fonts/simple-line-icons/style.scss';
@import '../vendor/modern-admin/scss/core/colors/palette-gradient.scss';


//- City of Austin Transportation Styling
@import './components/nav/nav.scss';

@import "./general/mixins.scss";

html body .content.override {
    min-height: 80%;

}

.footer.footer-static.footer-light.navbar-border.navbar-shadow.override {
position: absolute;
bottom: 0px;
width: 100vw ;
}